.go/
go/
bin
tmp
.DS_Store
.cover
*test.log
.venv
tmp
/data
*.log

# User configs
**/internal/config/*-user.yaml

# Want to figure-out how to make it nice and not bloat the repo
# Ignoring for now.
.cursor
.opencode
.codex

# Ignore openspec stuff for now
# Not sure if it's useful to keep it
openspec

# Node stuff
node_modules


.nx/cache
.nx/workspace-data